<% layout('layouts/boilerplate')%>

    <div class="row">
        <h3 class="text-center">Edytuj sesję</h3>
        <div class="col-6 offset-3">
            <form action="/sesja-dziecieca/<%= kids._id%>?_method=PUT " method="POST" novalidate class="validated-form"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Nazwa sesji (opcjonalnie)</label>
                    <input class="form-control" type="text" id="title" name="kids[title]" value="<%= kids.title %>">
                    <div class="valid-feedback"> Jest OK! </div>
                </div>
                <div class="mb-3">
                    <label for="addImages" class="form-label">Dodaj więcej obrazów</label>
                    <input class="form-control" type="file" id="addImages" name="images" multiple>
                </div>

                <h5> Delete Images </h5>
                <div class="container" id="sortable">
                <% kids.images.forEach((image, i) => { %>
                    <img class="m-2" src="<%= image.thumbnail %>" alt="" draggable="true" id="img_<%=i%>">
                        
                <% }) %>
            </div>

                <div class="mb-3">
                    <button class="btn btn-success">Edytuj sesję</button>
                </div>
            </form>
            <div class="footer my-3 py-2">
                <section> <a href=" /sesja-dzecieca/<%= kids._id %> ">Wróć do sesji</a></section>
                <section> <a href="/sesja-dzecieca">Wróć do wszystkich sesji dziecięcych</a></section>
            </div>
        </div>
    </div>

    <script src="/javascripts/gallery.js" defer></script>